.DS_Store
scripts/test.py
scripts/__pycache__/
frontend/blockly/msg/js/*.js
frontend/blocklyblockly_compressed.js
frontend/blocklyblockly_uncompressed.js
frontend/blocklyblocks_compressed.js
frontend/blocklydart_compressed.js
frontend/blocklyjavascript_compressed.js
frontend/blocklylua_compressed.js
frontend/blocklymsg/json/en.json
frontend/blocklyphp_compressed.js
frontend/blocklypython_compressed.js

